body {
    padding: 10px;
    background: #F5F3EE
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
}

label {
    margin-top: 10px;
}

.spacer {
    margin: 50px;
}

#submitsp {
    margin-top: 20px;
}

#submitguild {
    margin-bottom: 20px;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }